.ui-footer{
  font-size: 0.26rem;
  text-align: center;
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background: -webkit-linear-gradient(#495A96, #22549D); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#495A96, #22549D); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#495A96, #22549D); /* Firefox 3.6 - 15 */
  background: linear-gradient(#495A96, #22549D); /* 标准的语法 */
  margin-top: -1px;
  .footer-box{
    color: #FFFFFF;
    line-height: 0.4rem;
    margin-bottom: 0.1rem;

  }
  p{
    font-size: 0.18rem;
    color: #FFFFFF;
    line-height: 0.3rem;
    a{
      font-size: 0.18rem;
    }
  }
}
