.ui-header{
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.36rem;
    background: #22549D;
    text-align: center;
    color: #FFFFFF;
  background: -webkit-linear-gradient(#22549D, #495A96); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#22549D, #495A96); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#22549D, #495A96); /* Firefox 3.6 - 15 */
  background: linear-gradient(#22549D, #495A96); /* 标准的语法 */
}
