.main{
  background: #FFF;
  margin-top: 10px;
  height: 12rem;
  font-size: 0.32rem;
  background: -webkit-linear-gradient(#EDEDED, #495A96); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#EDEDED, #495A96); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#EDEDED, #495A96); /* Firefox 3.6 - 15 */
  background: linear-gradient(#EDEDED, #495A96); /* 标准的语法 */
}
